---
import MainLayout from "../layouts/Layout.astro";
---
<MainLayout title="About | Hilarious Horizon">
  <h1>About</h1>
  <p>This site was created to give you hands-on experience with Astro's Content Collections.</p>
</MainLayout>
